<!doctype html>
<html>

<head>
    <title>Welcome to Room Scheduler</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/static/scripts.js"></script>
    <script>
        function validate_values(event){
            st = document.getElementById('start_date_time').value
            end = document.getElementById('end_date_time').value
            st_date = new Date(st)
            end_date = new Date(end)
            if (end_date < st_date) {
                alert("End date-time cannot be less than start date-time");
                return false;
            }
            return true;
        }
    </script>
    <script>
        var timeout;
		function startLoad() {
			$('#loading').html('<img src="http://rpg.drivethrustuff.com/shared_images/ajax-loader.gif" id="loader"//>');
			clearTimeout(timeout);
			timeout = setTimeout(loaded, 1500);
		}
    </script>
    <style>
        #loader {
			width: 20%;
			position: fixed;
			left: 35%;
    		top: 35%;
		}
        body{
            padding-left: 10%;
            padding-right: 10%;
        }
    </style>
</head>

<body>
    <div id='loading'></div>
    <h1>Welcome to Room Scheduler</h1>
    <hr>
    <div id="firebase-auth-container"></div>
    <a href="/"><button id="sign-out" class="btn btn-danger" hidden="true"><i class="fa fa-power-off" aria-hidden="true"></i> Sign out</button></a>
    <div id="login-info" hidden="true">
    {% if session['email'] %}
        <div align="center">
            <table class="table" style="width: 50%;">
                <tr class="table-success">
                    <td>Name: {{ session['name'] }}</td>
                    <td>Email: {{ session['email'] }}</td>
                </tr>
            </table>
        </div>
        <hr>
        <div align="center">
            <table class="table" style="width:50%">
                <tr class="table-warning">
                    <td colspan="2">
                        <form action="/add_room" method="POST">
                            <button class="btn btn-warning form-control" onclick="startLoad()" type="submit"><i class="fa fa-plus-square" aria-hidden="true"></i> Add New Room</button>
                        </form>
                    </td>
                    <td>
                        <form action="/view_user_bookings" method="POST">
                            <button class="btn btn-warning form-control" onclick="startLoad()" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Query Your Bookings</button>
                        </form>
                    </td>
                    <td>
                        <form action="/" method="GET">
                            <button class="btn btn-warning form-control" onclick="startLoad()" type="submit" value="Back to Home"> <i class="fa fa-home" aria-hidden="true"></i> Back to Home </button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div align="center">
            <form action="/edit_booking_in_database" class="table-success" method="POST" style="border: 1px solid black; width: 40%;padding: 5px;">
                <input type="hidden" name="booking_id" value="{{ booking.key.id }}">
                <!-- <input type="hidden" name="room_id" value="{{ booking['room_id'] }}"> -->
                <table class="table">
                    <h2>Edit Booking</h2>
                    <tr>
                        <td>Room Number</td>
                        <td>
                            <select name="room_id" class="form-control">
                                {% for r in rooms %}
                                <option {% if r['room_id'] == booking['room_id'] %}selected{% endif %}>{{r['room_id']}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Start Time: </td>
                        <td>
                            <input type="datetime-local" required class="form-control" id="start_date_time" name="start_date_time" value="{{ booking['start_date_time'] }}">
                        </td>
                    </tr>
                    <tr>
                        <td>End Time:</td>
                        <td>
                            <input type="datetime-local" required class="form-control" id="end_date_time" name="end_date_time" value="{{ booking['end_date_time'] }}">
                        </td>
                    </tr>
                    <script>
                        var now = new Date();
                        now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
                        document.getElementById('start_date_time').min = now.toISOString().slice(0,16);
                        document.getElementById('end_date_time').min = now.toISOString().slice(0,16);
                    </script>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="form-control btn btn-info"  onclick="return validate_values(event);startLoad();" value="Update"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Update</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
		{% endif %}
    </div>
</body>

<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>

</html>