<!doctype html>
<html>

<head>
    <title>Welcome to Room Scheduler</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script src="/static/scripts.js"></script>
    <script>
        function validate_values(event){
            st = document.getElementById('start_date_time').value
            end = document.getElementById('end_date_time').value
            st_date = new Date(st)
            end_date = new Date(end)
            if (end_date < st_date) {
                alert("End date-time cannot be less than start date-time");
                return false;
            }
            return true;
        }
    </script>
</head>

<body>
    <h1>Welcome to Room Scheduler</h1>
    <div id="firebase-auth-container"></div>
    <button id="sign-out" class="btn btn-danger" hidden="true">Sign out</button>
    <div id="login-info" hidden="true">
		<hr>
		{% if session['name'] %}
            <div align="center">
                <table class="table" style="width: 40%;">
                    <tr class="table-success">
                        <td>Name: {{ session['name'] }}</td>
                        <td>Email: {{ session['email'] }}</td>
                    </tr>
                </table>
            </div>
            <hr>
            <div align="center">
                <table class="table" style="width:40%">
                    <tr class="table-warning">
                        <td colspan="2">
                            <form action="/add_room" method="POST">
                                <input class="btn btn-warning form-control" type="submit" value="Add New Room">
                            </form>
                        </td>
                        <td>
                            <form action="/view_user_bookings" method="POST">
                                <input class="btn btn-warning form-control" type="submit" value="Query Your Bookings">
                            </form>
                        </td>
                        <td>
                            <form action="/" method="GET">
                                <input class="btn btn-warning form-control" type="submit" value="Back to Home">
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <div align="center">
                <form action="/edit_booking_in_database" class="table-success" method="POST" style="border: 1px solid black; width: 40%;padding: 5px;">
                    <input type="hidden" name="booking_id" value="{{ booking.key.id }}">
                    <input type="hidden" name="room_id" value="{{ booking['room_id'] }}">
                    <table class="table">
                        <h2>Edit Booking</h2>
                        <tr>
                            <td>Start Time: </td>
                            <td>
                                <input type="datetime-local" class="form-control" id="start_date_time" name="start_date_time" value="{{ booking['start_date_time'] }}">
                            </td>
                        </tr>
                        <tr>
                            <td>End Time:</td>
                            <td>
                                <input type="datetime-local" class="form-control" id="end_date_time" name="end_date_time" value="{{ booking['end_date_time'] }}">
                            </td>
                        </tr>
                        <script>
                            var now = new Date();
                            now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
                            document.getElementById('start_date_time').min = now.toISOString().slice(0,16);
                            document.getElementById('end_date_time').min = now.toISOString().slice(0,16);
                        </script>
                        <tr>
                            <td colspan="2">
                                <input type="submit" class="form-control btn btn-info" onclick="return validate_values(event)" value="Update">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
		{% elif error_message %}
		<p>Error Message: {{ error_message }}</p>
		{% endif %}
    </div>
</body>

<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>

</html>