<!doctype html>
<html>

<head>
    <title>Welcome to Room Scheduler</title>
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script src="/static/scripts.js"></script>
</head>

<body>
    <h1>Welcome to Room Scheduler</h1>
    <div id="firebase-auth-container"></div>
    <button id="sign-out" class="btn btn-danger" hidden="true">Sign out</button>
    <div id="login-info" hidden="true">
		<hr>
		{% if session['name'] %}
            <div align="center">
                <table class="table" style="width: 40%;">
                    <tr class="table-success">
                        <td>Name: {{ session['name'] }}</td>
                        <td>Email: {{ session['email'] }}</td>
                    </tr>
                </table>
            </div>
            <hr>
            <div align="center">
                <table style="width: 40%;">
                    <tr>
                        <form action="/search_own_bookings_in_room" method="POST">
                            <td>Enter Room No:</td>
                            <td><input type="number" placeholder="Room Number" required name="room_id"></td>
                            <td><input type="submit" value="Search"></td>
                        </form>
                    </tr>
                </table>
            </div>
            <div align="center">
                <table style="width: 40%;">
                    <tr>
                        <th>Sr No.</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Room No.</th>
                    </tr>
                    {% for b in bookings %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td id="start{{ loop.index }}">{{ b['start_date_time'] }}</td>
                            <td id="end{{ loop.index }}">{{ b['end_date_time'] }}</td>
                            <script>
                                id1 = document.getElementById('start{{ loop.index }}').innerHTML
                                date = new Date(id1.toString())
                                document.getElementById('start{{ loop.index }}').innerHTML = date.toString().slice(0,21)
                                
                                id2 = document.getElementById('end{{ loop.index }}').innerHTML
                                date = new Date(id2.toString())
                                document.getElementById('end{{ loop.index }}').innerHTML = date.toString().slice(0,21)
                            </script>
                            <td>{{ b['room_id'] }}</td>
                            <td>
                                <form action="/delete_booking" method="POST">
                                    <input type="hidden" name="booking_id" value="{{ b.key.id }}">
                                    <input type="hidden" name="room_id" value="{{ b['room_id'] }}">
                                    <input type="submit" value="Delete">
                                </form>                            
                            </td>
                            <td>
                                <form action="/edit_booking" method="POST">
                                    <input type="hidden" name="booking_id" value="{{ b.key.id }}">
                                    <input type="hidden" name="room_id" value="{{ b['room_id'] }}">
                                    <input type="submit" value="Edit">
                                </form>                            
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
		{% elif error_message %}
		<p>Error Message: {{ error_message }}</p>
		{% endif %}
    </div>
</body>

<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>

</html>