<!doctype html>
<html>

<head>
    <title>Welcome to Room Scheduler</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/static/scripts.js"></script>
    <script>
        var timeout;
		function startLoad() {
			$('#loading').html('<img src="http://rpg.drivethrustuff.com/shared_images/ajax-loader.gif" id="loader"//>');
			clearTimeout(timeout);
			timeout = setTimeout(loaded, 1500);
		}
    </script>
    <style>
        #loader {
			width: 20%;
			position: fixed;
			left: 35%;
    		top: 35%;
		}
        body{
            padding-left: 10%;
            padding-right: 10%;
        }
    </style>
</head>

<body>
    <div id='loading'></div>
    <h1>Welcome to Room Scheduler</h1>
    <hr>
    <div id="firebase-auth-container"></div>
    <a href="/"><button id="sign-out" class="btn btn-danger" hidden="true"><i class="fa fa-power-off" aria-hidden="true"></i> Sign out</button></a>
    <div id="login-info" hidden="true">
    {% if session['email'] %}
        <div align="center">
            <table class="table" style="width: 50%;">
                <tr class="table-success">
                    <td>Name: {{ session['name'] }}</td>
                    <td>Email: {{ session['email'] }}</td>
                </tr>
            </table>
        </div>
        <hr>
        <div align="center">
            <table class="table" style="width:50%">
                <tr class="table-warning">
                    <td colspan="2">
                        <form action="/add_room" method="POST">
                            <button class="btn btn-warning form-control" onclick="startLoad()" type="submit"><i class="fa fa-plus-square" aria-hidden="true"></i> Add New Room</button>
                        </form>
                    </td>
                    <td>
                        <form action="/view_user_bookings" method="POST">
                            <button class="btn btn-warning form-control" onclick="startLoad()" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Query Your Bookings</button>
                        </form>
                    </td>
                    <td>
                        <form action="/" method="GET">
                            <button class="btn btn-warning form-control" onclick="startLoad()" type="submit" value="Back to Home"> <i class="fa fa-home" aria-hidden="true"></i> Back to Home </button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div align="center">
            <table class="table table-success" style="width: 50%;">
                <tr>
                    <form action="/search_own_bookings_in_room" method="POST">
                        <td style="vertical-align: middle;">Enter Room No:</td>
                        <td><input type="number" required class="form-control" placeholder="Room Number" required name="room_id"></td>
                        <td><button type="submit" onclick="startLoad()" class="form-control btn btn-info"><i class="fa fa-search-plus" aria-hidden="true"></i> Search</button></td>
                    </form>
                </tr>
            </table>
        </div>
        <div align="center">
            <h3>{{msg}}</h3>
            <table class="table table-bordered table-dark" style="text-align: center;">
                <tr>
                    <th>Sr No.</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Room No.</th>
                    <th colspan="2">Actions</th>
                </tr>
                {% if not bookings %}
                    <tr>
                        <td colspan="6">Sorry No Record Found</td>
                    </tr>
                {% endif %}
                {% for b in bookings %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td id="start{{ loop.index }}">{{ b['start_date_time'] }}</td>
                        <td id="end{{ loop.index }}">{{ b['end_date_time'] }}</td>
                        <script>
                            id1 = document.getElementById('start{{ loop.index }}').innerHTML
                            date = new Date(id1.toString())
                            document.getElementById('start{{ loop.index }}').innerHTML = date.toString().slice(0,21)

                            id2 = document.getElementById('end{{ loop.index }}').innerHTML
                            date = new Date(id2.toString())
                            document.getElementById('end{{ loop.index }}').innerHTML = date.toString().slice(0,21)
                        </script>
                        <td>{{ b['room_id'] }}</td>
                        <td>
                            <form action="/delete_booking" method="POST">
                                <input type="hidden" name="booking_id" value="{{ b.key.id }}">
                                <input type="hidden" name="request_from" value="user_bookings">
                                <input type="hidden" name="room_id" value="{{ b['room_id'] }}">
                                <button type="submit" class="btn btn-danger form-control" onclick="startLoad()" value=""><i class="fa fa-times" aria-hidden="true"></i> Delete</button>
                            </form>
                        </td>
                        <td>
                            <form action="/edit_booking" method="POST">
                                <input type="hidden" name="booking_id" value="{{ b.key.id }}">
                                <input type="hidden" name="room_id" value="{{ b['room_id'] }}">
                                <button type="submit" onclick="startLoad()" class="btn btn-info"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
		{% endif %}
    </div>
</body>

<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>

</html>